body{
	margin: 0;
}


#loadingPleaseWait {
    position: absolute; left: 0; top: 0;
    width: 100%; height: 10%;
    /*background-color: white;*/
    display: none;
    vertical-align: center;
    }
#loadingPleaseWait div {
    margin-top: 2%;
    margin-left: -20%;
    text-align: center;
    }

